html {
    font-size: 1.2em;
}

body {
    background: black;
    color: #fefefe;
    align-items: center;
    justify-content: center;
    line-height: 200%;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    display: block;
}

main {
    font-size: 2em;
}

div {
    width: 900px;
    font-size: 1em;
    margin-left: 15%;
    margin-top: 20%;
    border-bottom: none;
}

h1 {
    display: block;
}

input {
    background-color: #343434;
    outline: none;
    margin-left: 30%;
    width: 20%;
    color: grey;
}


/*button {
    margin-left: 15%;
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 20%;
    height: 50px;
}*/

#talk1,
#talk2,
#talk3,
#talk4 {
    margin-left: 15%;
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 20%;
    height: 50px;
}

#skunk1,
#skunk2,
#skunk3,
#skunk4,
#skunk5,
#skunk6 {
    margin-left: 10%;
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 20%;
    height: 50px;
}

#deer1,
#deer2,
#deer3,
#deer4,
#deer5,
#deer6,
#deer7 {
    margin-left: 10%;
    margin-top: 5%;
    background-color: white;
    color: black;
    width: 20%;
    height: 50px;
}